body { background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-831oCiTNWAsD1fidAg0FD1RUCSiCiMEpFkWkqQwXS1LAOTCPvoRUqTPagS9eL-7b42g&usqp=CAU");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

    p { text-align: center;
    color: brown;
    font-size: 40px;  
    text-shadow: 1px 2px pink; 
    }

    h1 { text-align: center;
    color: palevioletred;
    text-shadow: 1px 2px violet;
    }
    <style>
    div {
        text-align: center;
    }
    button {
border: none;
background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTw1NQo6kjxW8eBApMd_dTr8mYUYm2FYHbLIg&s");
width: 426px;
height: 141px;
overflow: hidden;
font-size: 40px;
color: palevioletred;
text-shadow: 2px 4px;
transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
text-decoration: none;
overflow: hidden;
cursor: pointer;
}
.button:after {
content: "";
background: #90EE90;
display: block;
position: absolute;
padding-top: 300%;
padding-left: 350%;
margin-left: -20px!important;
margin-top: -120%;
opacity: 0;
transition: all 0.8s
}

.button:active:after {
padding: 0;
margin: 0;
opacity: 1;
transition: 0s
}

h1 {color: red;
    text-align: center;
    font-size: 30px;
    }

h2 {color: orange;
    text-align: center;
    font-size: 30px;
    }
h3 {color: yellow;
    text-align: center;
    font-size: 30px;
    }

h4 {color: green;
    text-align: center;
    font-size: 30px;
    }
h5 {color: blue;
    text-align: center;
    font-size: 30px;
    }
h6 {color: purple;
    text-align: center;
    font-size: 30px;
    }
p {color: pink;
    text-align: center;
    font-size: 30px;
    }
a {text-decoration: none; #to remove underline
    text-align: center; #to centralize the text
    }
